.navbar {
    margin-bottom: 0px !important
}

/* Project css */
.project-title h3 {
    margin-top: 0px;
}

.project-content {
    margin-top: 20px;
    margin-bottom: 30px;
}

.project-pic img {
  max-height: 100%;
  max-width: 100%
}
